.add-comment-box {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 1.5rem; 

  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--background2);
  margin-bottom: 3rem;

  height: 100%;
  width: 100%;

  animation-name: moveDownStop;
  animation-duration: .2s;
}

.add-comment-box__header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: start;
  gap: 5rem; 
}

.add-comment-box__body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
}

.add-comment-edit-mode-options {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  justify-self: end;
}
.add-comment-save {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-blue);
}
.add-comment-cancel {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-blue);
}
.add-comment-slash {
  font-weight: 400;
  color: var(--color-blue);
  font-size: 2rem;
}

.add-comment-content-input {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit;
  font-size: 1.7rem; 
  width: 100%;
  height: 100%;
  background-color: transparent;
  
  cursor: pointer;
  border: 1px solid var(--stroke);
  padding: .5rem;
  border-radius: .5rem;
}
.add-comment-content-input:focus {
  outline: none;
}