.comment-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  border: 1px solid var(--text-3);

  margin-bottom: 1rem;
}
.comment-box__header {
  display: grid;
  grid-template-columns: max-content;
  justify-content: space-between; 
}
.comment-box__body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
}
.comment-box__body-content {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit;
  font-size: 1.8rem; 
}
.comment-box__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; 
}
.comment-box__action-icon {
  width: 1.7rem;
  height: 1.7rem;
  color: var(--text-2);
  cursor: pointer; 
}

.comment-box__action-icon:not(:last-child) {
  margin-right: 1.5rem;
}
.comment-box__footer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  border-top: 1px solid var(--text-3);
}
.comment-box__date {
  display: inline-block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: .15rem;
  color: var(--text-2);
  padding: 1rem 0 0 1rem;
  font-size: 1.3rem; 
}

.comment-like-box {
  position: relative;
  display: flex;
  margin-right: 1.5rem;

}
.comment-like-number {
  position: absolute;
  top: 0;
  left: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: .7rem;
  font-weight: 400;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--color-red-dark);
}

.comment-edit-mode-options {
  display: grid;
  justify-self: end;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
}
.comment-save-post {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-btns);
}
.comment-cancel-post {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-btns);
}
.comment-slash {
  font-weight: 400;
  color: var(--color-btns);
  font-size: 2rem;
}

.comment-content-input {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit;
  font-size: 1.7rem; 
  width: 100%;
  height: 8rem;

  background-color: var(--background1);
  cursor: pointer;
  border: none;
  padding: .5rem;
  border-radius: .5rem;
}
.comment-content-input:focus {
  outline: none;
}
