.user-banstatus-content-box {
  display: grid;
  gap: 1rem;
  border: 1px solid var(--background1);
  border-radius: 1rem;
  padding: 1.5rem;
}

.user-banstatus-content-btns {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-blue);
  text-transform: uppercase;
}

.user-banstatus-content-btns:hover {
  color: var(--color-yellow-medium);
}

.user-banstatus-content-slash {
  font-weight: 400;
  color: var(--color-btns);
  font-size: 2rem;
}

.user-banstatus-content-info-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.user-banstatus-content-input {
  width: 30rem;
  height: 5rem;
  font-family: inherit;
  font-weight: 400;
  background-color: transparent;
  font-size: 1.5rem;
  color: inherit;
  letter-spacing: .1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: 1px solid var(--color-blue);
  padding: .5rem;
  border-radius: .5rem;
}
.user-banstatus-content-input:focus {
  outline: none;
}

.user-banstatus-content-options {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  margin-top: 2rem;
}

.user-banstatus-content-text {
  color: var(--color-yellow-medium);
}