/* css global variables */
:root {
  --color-yellow-light: #ffd32a;
  --color-yellow-medium: #ffcc08;
  --color-yellow-dark: #d4a800;

  --color-red-light: #ff2f23;
  --color-red-dark: #e55039;

  --color-blue: #20b2aa;
  --color-blue-medium: #0fbcf9;
  --color-blue-light: #8fa6c7;

  --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
  --shadow-all-sides: 0 .1rem 1rem 0 rgba(0, 0, 0, 0.5);

  --background1: #363945;
  --background2: #2e313b;
  --background3: #282b34;

  --scroll-color: color(var(--text-3) alpha(0.5));
  --scroll-hover: color(var(--text-3) alpha(0.9));

  --text-1: #e0e8ff;
  --text-2: #a4a9ba;
  --text-3: #62687a;
  --stroke: #494e5c;
  --icon: #cad1e6;
}
      
/* base settings */
* {
  margin: 0;
  padding: 0; 
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--background1) transparent;
  scrollbar-width: thin;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  color: var(--text-1);
  background-color: var(--background3);
  padding: 4rem; 
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
      
::-webkit-scrollbar {
  width: .1rem;
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
}

::selection {
  background-color: var(--background2);
  color: var(--text-1);
}

/* Typography */
.heading {
  display: block;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit; 
}
.heading__one {
  font-size: 5rem; 
}
.heading__two {
  font-size: 3rem; 
}
.heading__two-user {
  font-size: 3rem; 
}
.heading__three {
  font-size: 2rem; 
}
.heading__four {
  font-size: 2rem;
  text-transform: none;
  padding-bottom: .5rem; 
}
.heading__five {
  font-size: 1.4rem;
  text-transform: none; 
  letter-spacing: .12rem;
}
.heading__comment {
  font-size: 1.5rem; 
}

.heading-empty-container-msg {
  color: var(--text-2);
}

/* global settings for all buttons */
.btns, .btns:link, .btns:visited {
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .12rem;
  cursor: pointer;
  border: none; 
}

.btns:focus {
  outline: none; 
}

/* animation */
@keyframes moveDownStop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } 
}
