.section-body {
  display: grid;
  gap: .5rem;
  padding: 1rem;
  grid-template-rows: max-content;

  height: 70vh;

  overflow-x: hidden;
  overflow-y: scroll;

  border-top: 1px solid var(--background3);
  border-bottom: 1px solid var(--background3);

  animation-name: moveDownStop;
  animation-duration: .5s;
}
