.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
}

.navigation-item-link {
  color: var(--color-gray-lighten);
  text-decoration: none;
  font: inherit;
  font-size: 2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.active {
  color: var(--text-3);
}

.navigation-item:hover {
  background-color: var(--background2);
}

.navigation-item-link:active,
.navigation-item-link.active  {
  color: var(--color-yellow-medium);
}
