.section-item-link {
  color: var(--text-2);
  text-decoration: none;
  font: inherit;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding: .5rem 1rem;

}

.section-item-active {
  border-bottom: 1px solid var(--color-yellow-medium);
}

/* .section-item-link:active,
.section-item-link.active  {
  color: var(--color-yellow-medium);
} */