.user-delete-content-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  border: 1px solid var(--background1);
  border-radius: 1rem;
  padding: 1.5rem;
}

.user-delete-content-btns {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-blue);
  text-transform: uppercase;
}

.user-delete-content-btns:hover {
  color: var(--color-yellow-medium);
}

.user-delete-content-slash {
  font-weight: 400;
  color: var(--color-btns);
  font-size: 2rem;
}

.user-delete-content-options {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
}

.user-delete-content-name {
  color: var(--color-yellow-medium);
  text-transform: uppercase;
}