.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.logo-img {
  width: 3rem;
  height: 3rem;
}