.sidebar-container {
  position: relative;
}

.section-name-box {
  position: absolute;
  top: 3rem;
  right: 0;

  padding: 2rem;
  background-color: var(--background2);
  text-transform: uppercase;

  border-radius: 1rem 0 0 1rem;

  font-size: 2.5rem;
  font-weight: 500;
}