.user-info-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1.5rem;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.user-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  box-shadow: 0 .1rem 1rem 0 rgba(0, 0, 0, 1);
  background-color: var(--text-1);
}

.heading-avatar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--background3);
  font-weight: 500;
  font-size: 3.5rem;
}

.user-name-text {
  color: inherit;
  font-weight: 500;
  font-size: 3rem;
}