.menu-container {
  position: relative;
  height: 100%;
  width: 6rem;
}

.menu__checkbox {
  display: none; }
.menu__btn--open {
  display: block;
}
.menu__btn--close {
  display: none; 
}
.menu__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);

  color: var(--text-2);
  z-index: 2000;
  cursor: pointer;
  font-size: 2.5rem !important;
}
.menu__bgr {
  position: absolute;
  top: .5rem;
  right: .5rem;

  height: 4rem;
  width: 4rem;
  z-index: 1000;
  border-radius: .5rem;
  border: 1px solid #272931;
  background-color: var(--background1);
  box-shadow: var(--shadow-all-sides);
  transition: all .4s;

  z-index: 200;
}
.menu__nav {
  position: absolute;
  top: 1rem;
  right: 4rem;
  height: 35rem;
  width: 5rem;
  z-index: 1500;
  display: none;
  padding: 0 5rem 0 2rem;
  font-family: inherit;
  font-weight: inherit;

  z-index: 200;
}
.menu__checkbox:checked ~ .menu__bgr {
  width: 25rem;
  border-radius: .5rem;
  height: 35rem;
}
.menu__checkbox:checked ~ .menu__nav {
  display: flex;
  flex-direction: column;
  width: 23rem;
  animation-name: moveDownStop;
  animation-duration: .6s;
}
.menu__checkbox:checked ~ .menu__btn--open {
  display: none; 
}
.menu__checkbox:checked ~ .menu__btn--close {
  display: block; 
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;
  z-index: 100;

  width: 100vw;
  height: 100vh;
}