.preferences-section-container {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  background-color: var(--background3);
  padding: 5rem;
  border-radius: 1rem;

  width: 70%;
  justify-self: center;
}

.preferences-info-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;

  border: 1px solid var(--background1);
  padding: 2rem 2rem;
  border-radius: 1rem;
}

.preferences-text {
  text-transform: uppercase;
}

.preferences-info-text {
  color: var(--color-yellow-medium);
}