.nav-actions-item {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 400;
  cursor: pointer;
}
.nav-actions-item:not(:last-child) {
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: .5rem 2rem;
}
.nav-actions-item:not(:last-child):hover {
  border: 1px solid var(--background3);
}
.nav-actions-item:focus {
  outline: none;
}
.nav-actions-item:last-child {
  margin-top: 1rem;
  border-top: 1px solid rgba(35, 37, 38, 0.3);
  padding: 1rem 0 1rem 3rem;
}

.nav-action-icon {
  font-size: 2rem !important;
  color: var(--color-yellow-medium);
  margin-right: 1rem;
}

.navigation-item-link {
  color: var(--color-gray-lighten);
  text-decoration: none;
  font: inherit;
  font-size: 2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.active {
  color: var(--text-3);
}

.navigation-item-link:active,
.navigation-item-link.active  {
  color: var(--color-yellow-medium);
}