.latest-post-box {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .5rem;
  padding: 1rem;

  background-color: var(--background2);
}
.latest-post-box:hover {
  /* border: 1px solid var(--color-yellow-medium); */
  border: 1px solid var(--stroke);
}

.latest-post-text {
  color: var(--text-2);
}
