.post-box {
  border-radius: 2rem;
  padding: 1.4rem;
  background-color: var(--background3);
  box-shadow: var(--shadow-all-sides);
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  gap: 3rem;
  margin-bottom: 3rem;

  animation-name: moveDownStop;
  animation-duration: .5s;
}

.post-box__header {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: start;
  gap: 5rem; 
}

.post-box__header-heading {
  display: inline-block;
  color: inherit;
}

.post-box__body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-box__body-content {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit;
  font-size: 2.2rem;
}

.post-box__footer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  border-top: 1px solid var(--stroke);
  padding: 0 1rem;
}
.post-box__date {
  display: inline-block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: .2rem;
  color: var(--text-2);
  padding: 1rem 0;
  font-size: 1.7rem; 
}
.post-box__comment-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-height: 32rem;
  padding: 2rem 4rem;
  overflow-x: hidden;
  overflow-y: scroll; 
  border-top: 1px solid rgba(87, 88, 187, 0.15);
  border-bottom: 1px solid rgba(87, 88, 187, 0.15);

  animation-name: moveDownStop;
  animation-duration: .2s;
}

.post-box__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.post-box__action-icon {
  width: 2rem;
  height: 2rem;
  color: var(--text-2);
  cursor: pointer;
}

.post-box__action-icon:hover {
  color: var(--text-1);
}

.post-box__action-icon--locked {
  position: absolute;
  top: .5rem;
  right: .5rem;
  fill: var(--color-gray-nav);
  cursor: initial;
}

.post-box__action-icon:not(:last-child) {
  margin-right: 1.7rem;
}

.view-comments-icon {
  margin-bottom: -.2rem;
}

.like-box {
  position: relative;
  display: flex;
  margin-right: 1.5rem;

}
.like-number {
  position: absolute;
  top: -.1rem;
  left: -.9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: var(--color-red-dark);
}

.edit-mode-options {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  justify-self: end;
}
.save-post {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-blue);
}
.cancel-post {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-blue);
}
.slash {
  font-weight: 400;
  color: var(--color-blue);
  font-size: 2rem;
}

.title-input {
  width: 100%;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: .2rem;
  color: inherit;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background-color: var(--background1);
  padding: .1rem .1rem .1rem 1rem;
  border-radius: .5rem;
}

.content-input {
  width: 100%;
  height: 15rem;
  font-family: inherit;
  font-weight: 400;
  background-color: transparent;
  font-size: 2.2rem;
  color: inherit;
  letter-spacing: .2rem;
  cursor: pointer;
  border: none;
  background-color: var(--background1);
  padding: .1rem .1rem .1rem 1rem;
  border-radius: .5rem;
}

.content-input:focus,
.title-input:focus {
  outline: none;
}

.actions-comment-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 5rem;
  padding: 0 1rem;
}

.heading-comment-actions {
  font-size: 1.7rem;
  text-transform: none; 
  letter-spacing: .12rem;
  color: var(--color-yellow-medium);
  cursor: pointer;
  text-transform: uppercase;
}