.users-container {
  display: grid;
  gap: 2rem;
  border-radius: 1rem;
  background-color: var(--background3);
  padding: 1.5rem;
}

.users-container__options {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  align-items: center;
  gap: 1.5rem;
}

.users-container__options-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: var(--text-1);
}

.users-container__options-icon:hover {
  color: var(--color-yellow-medium);
}

.users-container__options-icon--remove:hover {
  color: var(--color-red-dark); 
}

.user-container__heading {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 3rem;
}

.content-container {
  display: grid;
  gap: 1rem;
}

.user-options-hero-container {
  display: grid;
  max-height: 30rem;

  overflow-y: scroll;
  overflow-x: hidden;
}
