.hero-container {
  position: relative;
  display: grid;
  gap: .5rem;
  grid-template-rows: max-content;
  max-height: 105rem;
  border-radius: .5rem 0 0 2rem;

  align-items: flex-start;

  background-color: var(--background2);
  padding: 3rem;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
