.main-container {
  position: relative;
  display: grid;
  grid-template-rows: 8rem 1fr;
  
  background-color: var(--background1);
  width: 90vw;
  max-width: 140rem;
  min-height: 90vh;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--shadow-all-sides);
}
