.user-container-info-box {
  border-radius: 1rem;
  border: 1px solid var(--background1);
  padding: 1.5rem;
}

.info-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.heading__four--admin-info {
  color: var(--color-yellow-dark);
}