.author-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.big.author-box {
  gap: 1.5rem;
}

.small.author-box {
  gap: 1rem;
}

.author-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 .1rem 1rem 0 rgba(0, 0, 0, 1);
  background-color: var(--text-1);
}

.big.author-avatar {
  width: 4rem;
  height: 4rem;
}

.small.author-avatar {
  width: 3rem;
  height: 3rem;
}

.author-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background3);
}

.big.author-text {
  font-weight: 500;
  font-size: 3rem;
}

.small.author-text {
  font-weight: 400;
  font-size: 2rem;
}

.author-name-text {
  color: inherit;
  font-weight: 400;
  font-size: 2.7rem;
}

.big.author-name-text {
  font-size: 2.4rem;
}

.small.author-name-text {
  font-size: 2rem;
}
