.user-roles-content-box {
  border: 1px solid var(--background1);
  border-radius: 1rem;
  padding: 1.5rem;
}

.user-roles-content-name {
  color: var(--color-yellow-medium);
  text-transform: uppercase;
}

.user-roles-content-options {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  margin-top: 2rem;
}

.user-roles-content-btns {
  cursor: pointer;
  font-weight: 400;
  color: var(--color-blue);
  text-transform: uppercase;

}

.user-roles-content-btns:hover {
  color: var(--color-yellow-medium);
}

.user-roles-content-slash {
  font-weight: 400;
  color: var(--color-btns);
  font-size: 2rem;
}