.latest-post-container {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);

  padding: 2rem;
  width: 100%;
}

.latest-post-list-body {
  display: grid;
  gap: .7rem;
  grid-template-rows: max-content;
  align-items: flex-start;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.latest-post-heading {
  text-transform: uppercase;
  color: var(--text-3);
  text-align: center;
  margin-bottom: 2rem;
}
