.menu-nav-home-container {
  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
  gap: 3rem;

  justify-content: space-between;
  align-items: center;

  /* background-color: pink; */
  
}