.btns,
.btns:link,
.btns:visited {
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .12rem;
  cursor: pointer;
  border: none;
}

.btns:focus {
  outline: none;
}