.auth-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--stroke);
  border-radius: 1rem;
  padding: 0 5rem;

  width: 45rem;
  height: 45rem;

}

.form-box {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  gap: .8rem;

  width: 100%;

}

.input-box {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: .3rem;
}

.input-box-actions {
  justify-content: space-between;
}

.input {
  background-color: var(--background1);
  border: none;
  border-radius: .5rem;
  padding: 0 1rem;
  color: inherit;
  cursor: pointer;
  font-size: 2.2rem;
  font-family: inherit;
  font-weight: 400;
  height: 5rem;
}

.input::placeholder {
  color: var(--text-3);
}

.input:focus {
  outline: none;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: center;

  width: 70%;

  font: inherit;
  font-weight: 500;
  font-size: 2.2rem;
  padding: 1rem;
  margin: 2rem 0 .5rem 0;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
  outline: none;
  border-radius: .5rem;

  background-color: var(--text-1);
  color: var(--stroke);
}

.btn-submit:disabled {
  background-color: var(--background1);
  color: var(--stroke);
  cursor: not-allowed;
}

.action-btns {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.switch-action-text {
  font-size: 2rem;
}

.switch-action-btn {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 2rem;
  cursor: pointer;
}
