.header-container {
  display: grid;
  grid-template-columns: 35% 65%;
  /* gap: 2rem; */

  /* justify-content: space-between; */
  align-items: center;
  padding: .5rem 2rem;

  height: 100%;
  width: 100%;
  /* background-color: azure; */
}
