.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0;
  width: 100%;
}
.search-bar-input {
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 0.5px solid var(--text-3);
  background-color: transparent;
  font-size: 2.3rem;
  font-family: inherit;
  letter-spacing: .17rem;
  font-weight: 400;
  color: var(--text-1);
  padding: 0 6rem 0 2rem;
  cursor: pointer;
}
.search-bar-input:focus {
  outline: none; 
}

.search-bar-input::placeholder {
  color: var(--text-3);
}

.btns-search {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: inherit;
  color: inherit;
  border-style: none;
  margin-top: .3rem;
  cursor: pointer;
  outline: none;
  padding: .5rem;
  background-color: var(--background1);

}
.btns-search:hover {
  color: var(--color-yellow-medium);
}

.btns-search-icon {
  font-size: 2rem !important;
  color: var(--text-3);
}

.btns-search-icon:hover {
  color: var(--color-yellow-medium);
}
