.btn-add-post {
  font-size: 1.7rem;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-yellow-medium);
  color: var(--background3);
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.7);
  transition: all .2s;
  backface-visibility: hidden;
}
.btn-add-post:hover {
  box-shadow: 0 0.1rem .4rem 0 rgba(0, 0, 0, 0.6); 
}
.btn-add-post:active {
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2); 
}
.btn-add-post:disabled {
  background-color: var(--color-yellow-dark);
  cursor: not-allowed;
}