.single-activity-item-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;

  border: 1px solid var(--stroke);
  border-radius: 2rem;
  padding: 1.5rem;
}
.heading__four--date {
  color: var(--color-yellow-dark);
  font-weight: 300;
}